.button{
    width: 185px;
    height: 51px;
    font-family: 'Lora', serif;
    @include adaptiv-font (18,14);
    background-color: $main-color;
    color:#fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transition: all 0.3s;
        box-shadow: 0px 0px 15px rgb(192, 189, 189);
    }

    &__price{
        text-transform: uppercase;
        width: 227px;
        height: 55px;
        border-radius: 30px;

    }
    &__form{
        text-align: left;
        padding:0 0 0 30px;
        position: relative;
        height: 56px;
        width: 227px;
        text-transform: uppercase;
        margin-right: 20px;
        &:after{
            content:'';
            width: 39px;
            height: 8px;
            position: absolute;
            top: 22px;
            right: 22px;
            background: url('../images/icons/Arrow.svg');
        }
    }
}