.footer{
    position: relative;
    color: #fff;

    &__info{
        padding: 22px 60px;
        position: absolute;
        top: 50px;
        height: 389px;
        width: 360px;
        background-color: $background;

        &-card{
            margin-bottom: 30px;
        }
    }

    &__social-link{
        fill: $main-color;
        margin: 0 20px;

        svg{
            width: 36px;
        }
        &:first-child{
            margin-left: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-family: 'Lora', serif;
        font-size: 24px;
        color: $main-color;
        margin-bottom: 5px;
    }
    &__address {
        font-style: normal;
    }
    &__call {
    }
    &__open-list {
    }
    &__open-item {
    }
}
