.header {
    position: relative;
    min-height: 572px;
    background: url('../images/bg/header-bg.jpg') center center / cover no-repeat;

    &__logo {
        margin: 15px 0 15px 0;
    }


    &__title {
        font-size: 72px;
        color: #fff;
        font-family: 'Lora', serif;
        text-transform: uppercase;
        line-height: 93px;
        width: 500px;

        span {
            color: $main-color;
        }
    }

    &__descr {
        font-size: 24px;
        font-weight: 300;
        width: 370px;
        min-height: 68px;
        color: #fff;
        margin-bottom: 10px;
    }

    &__bottom{
        margin-top: 34px;
        display: flex;
        align-items: flex-end;
    }

    .brown-block{
        color: #fff;
        display: flex;
        justify-content: flex-end;
        padding-top: 26px;
        width: 60%;
        height: 118px;
        background-color: $background;
        line-height: 18px;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
            span {
                color: $accent;
                font-weight: 500;
             }

             &__wrapper{
                min-width: 60%;
                display: flex;
                justify-content: space-between;
             }

        .address {
                margin-right: 60px;
                font-style: normal;
                width: 195px;
                height: 65px;
                position: relative;
                &:before {
                    content:'';
                    background: url('../../images/icons/map.svg');
                    position: absolute;
                    left: -40px;
                    width: 30px;
                    height: 32px;             
                }
            }
            
            .call {
                margin-right: 60px;
                width: 180px;
                position: relative;
                
                &:before {
                    content:'';
                    background: url('../../images/icons/phone.svg');
                    position: absolute;
                    left: -40px;
                    width: 32px;
                    height: 32px;
                }
            }
    
            .open {
                width: 230px;
                position: relative;
                &:before {
                    content:'';
                    background: url('../../images/icons/clock.svg');
                    position: absolute;
                    left: -40px;
                    width: 32px;
                    height: 32px;
                }
            }
    }
    

        .beige-block{
            width: 40%;
            height: 76px;
            background-color:$main-color;

            &__social{
                padding-left: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                height: 76px;
                svg{
                    width: 26px;
                    height: 26px;
                    margin: 0 20px;
                    &:hover{
                        box-shadow: #000;
                    }

                }
            }
            .subscribe{
                position: relative;
                color: #fff;
                transform: rotate(-90deg) translate(75px , -3px);
                &:before{
                    content: '';
                    position: absolute;
                    width: 111px;
                    height: 1px;
                    background-color: #fff;
                    right: 40px;
                    top: -3px;
                }
            }

        }


    }