.masters{
    padding-top: 50px;
    font-family: 'Lora', serif;
    background-color: $background;
    min-height: 700px;
    font-weight: bold;
    text-align: center;

    &__wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__profile-card {
        margin: 3px;
        margin-bottom: 20px;
        
    }
    &__photo {
        width: 360px;
        height: 378px;
        object-fit: cover;
        object-position: center;

    }
    &__name {
        padding: 10px 0 8px 0;
        font-size: 30px;
        color: #fff;
    }
    &__function {
        font-size: 18px;
        color: $main-color;
    }
}