.services{
    padding-top: 20px;
    text-align: center;
    min-height: 745px;
    background-color: $background;

    &__wrapper{
        padding: 33px 100px 0 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menu{
        margin-bottom: 30px;
    }

    &__title{
        margin-bottom: 20px;
        text-align-last: left;
        font-family: 'Lora', serif;
        font-weight: bold;
        @include adaptiv-font (36, 18);
        color: #fff;
    }


    &__list{
        color: #fff;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        width: 366px;
        height: 36px;
        border-bottom: 1px solid $main-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        @include adaptiv-font (24, 17);
    }
}