.services{
    padding-top: 30px;
    text-align: center;
    height: 1200px;
    background-color: $background;

    &__wrapper{
        padding:40px 40px 0 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__menu{
        margin-bottom: 60px;
    }

    &__title{
        margin-bottom: 20px;
        text-align-last: left;
        font-family: 'Lora', serif;
        font-weight: bold;
        font-size: 36px;
        color: #fff;
    }


    &__list{
        color: #fff;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 400px;
        height: 36px;
        border-bottom: 1px solid $main-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 24px;
    }
}
