.sign-up{
    text-align: center;
    background-color: $background;
    min-height: 477px;
    form{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../images/bg/call-bg.jpg') center center/cover no-repeat ;
        height: 195px;
    }

    .input-phone{
        padding-left: 10px;
        height: 56px;
        width: 454px;
        margin-left: 20px;
    }
}