@media(max-width: 1800px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 67%;
            }
            .open{
                width: 200px;
                
            }
        }
    }
}
@media(max-width: 1540px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 75%;
            }
            .open{
                width: 180px;
                
            }
        }
    }
}
@media(max-width: 1283px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 87%;
            }
            .call {
                margin-right: 35px;
            }
            .address {
                margin-right: 48px;

            }
        }
    }
    .masters{
        &__wrapper{
            justify-content: space-around;
        }
        &__photo {
            width:340px;
            height: 336px;
        }
    }
}
@media(max-width: 1200px) {
    .header {
        .brown-block{
            width: 80%;
            &__wrapper{
                min-width: 78%;
            }
        }
    }
    .masters{
        &__wrapper{
            justify-content: space-around;
        }
        &__photo {
            width:340px;
            height: 336px;
        }
    }
}
@media(max-width: 1138px) {
    .header {

        &__title{
            line-height: 70px;
        }

        .brown-block{
            width: 100%;
            padding-top: 10px;
            min-height: 94px;

            &__wrapper{
                min-width: 100%;
                justify-content: center;
            }
        }
        .beige-block {
            display: none;
        }
        &__bottom{
            display: block;
        }
        .subscribe{
            display: none;
        }
        
    }
}

@media(max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    
}

@media(max-width: 998px) {
    .services{
        &__wrapper{
            justify-content: center;
        }
    }
}

@media(max-width: 767px) {
    .header{
        &__logo{
            width: 50px;
        }
        &__wrapper{
            // text-align: center;
        }
        &__title{
            width: 100%;
        }
        &__descr{
            width: 100%
        }

        .brown-block{
            &__wrapper{
                justify-content: space-around;
                flex-wrap: wrap;
            }
            .adaptiv{
             display: block;
             margin-bottom: 5px;
             font-size: 15px;
             font-weight: 600;
             color: $main-color;
            }

            .address{
                margin-right: 0;
                &::before{
                    display: none;
                }
            }
            .call{
                margin-right: 0;
                &::before{
                    display: none;
                }
            }
            .open{
                &::before{
                    display: none;
                }
            }
        }
    }

}

@media(max-width: 598px){
    .header{
        min-height: 300px;
        position: relative;

        .adaptiv__header-number{
            display: block;
            position: absolute;
            top: 10px;
            right: 20px;
            color: $accent;
            &:before {
                content:'';
                background: url('../../images/icons/phone.svg')center center / cover no-repeat;
                position: absolute;
                top: -2px;
                left: -30px;
                width: 26px;
                height: 26px;
            }
        }
        .brown-block{
            display: none;
        }
    }
    .services{
        &__wrapper{
            padding-left: 0;
            padding-right: 0;
        }
        &__item{
            width: 290px;
        }
    }

}

@media(max-width: 441px){
    .header{
        &__title{
            line-height: 43px;
        }
    }
}