@media(max-width: 1800px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 67%;
            }
            .open{
                width: 200px;
                
            }
        }
    }
}
@media(max-width: 1540px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 75%;
            }
            .open{
                width: 180px;
                
            }
        }
    }
}
@media(max-width: 1283px) {
    .header {
        .brown-block{
            &__wrapper{
                min-width: 87%;
            }
            .call {
                margin-right: 35px;
            }
            .address {
                margin-right: 48px;

            }
        }
    }
    .masters{
        &__wrapper{
            justify-content: space-around;
        }
        &__photo {
            width:340px;
            height: 336px;
        }
    }
}
@media(max-width: 1200px) {
    .header {
        .brown-block{
            width: 80%;
            &__wrapper{
                min-width: 78%;
            }
        }
    }
    .masters{
        &__wrapper{
            justify-content: space-around;
        }
        &__photo {
            width:340px;
            height: 336px;
        }
    }
}
@media(max-width: 1138px) {
    .header {
        .brown-block{
            width: 100%;
            padding-top: 10px;
            height: 94px;

            &__wrapper{
                min-width: 100%;
                justify-content: center;
            }
        }
        .beige-block {
            width: 100%;
            height: 56px;
            background-color: #AC9374;
            &__social {
                padding-left: 10px;
                height: 56px;
                width: 100%;
                justify-content: center;
                svg {
                    margin: 0 15px;
                    width: 50px;
                }
            }
        }
        &__bottom{
            display: block;
        }
        .subscribe{
            display: none;
        }
        
    }
}

@media(max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    
}

@media(max-width: 992px) {
}

@media(max-width: 767px) {

}

